body {
  height: 100vh;
  margin-top: 100px;
  background-color: azure;
}
.container {
  width: 85%;
  margin: auto;
  height: 60%;
  background-color: lightgrey;
  padding-top: 2vh;
  padding-bottom: 4vh;
  padding-left: 2%;
  padding-right: 2%;  
  border-radius: 1em;
  box-shadow:    10px 10px 10px #888888;
}

.title {
  text-align: right;
  font-size: 1.3rem;
}


.screen {
  width: 95%;
  margin: 0 2.5% 0 2.5%;
  font-size: 1.5rem;
  padding-right: 1%;
  height: 10%;
  text-align: right;
  margin-bottom: 5vh;
}

.btn-div {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  flex-wrap: wrap;
}
.btn {
  font-size: 1.2rem;
  width: 20%;
  margin-right: 0.1%;
  height: 5.5vh;
  margin-bottom: 1vh;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .container {
    width: 45%;
  }
}

@media only screen and (min-width: 1024px) {
  .container {
    width: 40%;
  }
}
@media only screen and (min-width: 1440px) {
  .title {
    font-size: 1.5rem;
  }
  .btn {
    margin-top: 0.5rem;
    height: 6vh;
  }
  .container {
    width: 35%;
    height: 70%;
  }
}
